body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/sayagata.png");
	margin:0;
}

.header {
	width: 100%;
	background-color:#ffffff;
	overflow: auto;
	margin-bottom: 20px;
	border-bottom: 3px solid #cccccc;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#nameTag {
	background-color: #4aaaa5;
	height:80px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

hr {
	padding-right: 5px;
	padding-left: 5px;
	color: #dddddd;
}

h1 {
	color: #ffffff;
}

nav {
	position: absolute;
	margin-top: 20px;
	right: 0;
	top: 0;
}

.link {
	border-right: 2px solid #eeeeee;
}


section {
	background-color:#ffffff;
	overflow: auto;
}

#content {
	clear: both;
}

table {
	align-content: center;
	width: 100%;
}

.port {
	position: relative;
}

.portHeader{
	position: absolute;
	bottom: 30px;
	background-color: #cccccc;
	width: 200px;
	text-align: center;
}

#aboutMe {
	float: left;
	width: 610px;
	position:relative;
	padding: 20px;
}

.prof {
	height: 200px;
	float: left;
	padding-right: 10px;
}

#contactMe {
	float: right;
	width: 230px;
	overflow: auto;
	padding: 20px;
}

a {
	float: left;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.logo:hover {
	border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

input {
	width: 100%;
}

input[type="textArea"] {
	height:200px;
	width: 100%;
}

button {
	color: #ffffff;
	background-color: #4aaaa5;
	border: none;
	height: 30px;
	width: 70px;
	margin-top: 10px;
}

button:hover {
	background-color: #4aaaa6;
	height: 35px;
	width: 75px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color:#666666;
	color:#ffffff;
	text-align: center;
	border-top: 5px solid #cccccc;
}

